body {
  margin: 0;
  min-height: 100vh;
  padding: 24px;
  position: relative;
}

h1 {
  margin: 0 0 8px;
  font-size: 48px;
}

h3{
    margin: 0;
    font-size: 26px;
    color: #7c0dd6;
}
h4{
    margin: 0;
    font-size: 24px;
    color: #13e2d8;
    font-family:Georgia, 'Times New Roman', Times, serif
}
img{
    width: 100px;
    height: 100px;
}
.skills h2{
    background-color: aqua;
    width: 60px;
    height: 35px;
}

.projects h2{
    background-color: aqua;
    width: 75px;
    height: 35px;
}
a.project{
    background-color: yellow;

}
.education h2{
    background-color: aqua;
    width: 105px;
    height: 35px;
}
.coreSubjects h2{
    background-color: aqua;
    width: 150px;
    height: 35px;
}
